/* .hero {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
} */

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}
.dark-theme {
  --secondary-color: #edf2fc;
  --primary-color: #212121;
}

* {
  font-family: "Allerta Stencil", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  background-image: url(/assets/bgport.jpg);
  background-size: cover;
  min-height: 80vh;
  background-attachment: fixed;
  flex-wrap: wrap;
}
.hero-text {
  asdaf
  margin: 20rem 15rem;
}
.vertical-line {
  border-left: 2px solid #000000;
  height: 5rem;
}

h2::after {
  display: block;
  background-color: #000;
  margin: 2rem auto;
  height: 2px;
  width: 300px;
  content: "";
}
.catchup {
  margin-left: 10px;
}

/* .vertical-social {
  top: 50%;
  position: fixed;
  transform: translateY(-50%);
  left: 2%;
  height: 5rem;
} */
.social-icons > .vertical-text {
  transform: rotate(-90deg);
  font-size: 1.2em;
  margin-right: 30px;
}
.social-icons {
  top: 50%;
  position: fixed;
  transform: translateY(-50%);
  color: var(--secondary-color);
}
/* .social-icons ul {
  list-style: none;
  padding: initial;
} */
.socials {
  margin-top: 10px;
}
.fa-github,
.fa-instagram,
.fa-linkedin {
  font-size: 2rem;
  margin: auto;
  transform: rotate(90deg);
}
.global-header {
  text-align: center;
  padding: 40px;
  font-size: 40px;
}
.skills {
  font-size: 80px;
  letter-spacing: 60px;
  margin: 0 5rem;
}
.skills .fa-brands {
  color: var(--secondary-color);
}

.project-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card img {
  width: 500px;
  height: 300px;
}
